body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 13px !important;
}
.slider {
  animation-name: slide;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
@keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
