body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 13px !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
